*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: .3s;
}
body{
    background-color: #bbbbbb;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 50px 2.5%;
}
/* home section */
.home-section{
    background-image: url(../image/world-map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 75vh;
}
.home-section .container{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section .container .home-container{
    width: 100%;
}
.searchBox{
    background-color: #ffffff7f;
    margin: 0 auto;
    max-width: 50rem;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0 9px 15px -10px #ffffff7f;
    
}
.searchBox #searchInput{
    padding: .5rem;
    width: 100%;
    background-color: transparent;
}
.searchBox #searchBtn{
    padding: .5rem;
    width: 3rem;
    background-color: transparent;
    cursor: pointer;
}
.searchBox #searchBtn:hover .fa-magnifying-glass{
    color: #4aabdf ;
}
.options{
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    justify-content: center;
}
.options select{
    background-color: #ffffff7f;
    padding: .5rem;
    flex: 1;
    box-shadow: 0 9px 15px -10px #ffffff7f;
}
.options select > option{
    background-color: #ffffff7f;
}
/* home section end */
.details-button{
    background: #4aabdf;
    color: white;
    font-weight: bold ;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    cursor: pointer;
}
#allCountries{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7rem ;
}
#allCountries .country {
    flex-grow: 1;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem ;
    box-shadow: 0 9px 15px -10px;
}
#allCountries .country .flag-image {
    height: 11rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
#allCountries .country .flag-image img {
    height: 100%;
}
.buttons{
    text-align: center;
}
.showMoreBtn, .showLessBtn{
    padding: 1rem 2rem;
    box-shadow: 0 9px 15px -10px ;
    margin-top: 2rem;
    border-radius: .5rem;
    font-weight: 700;
}
.showMoreBtn{
    background-color: white;
    color: black;
}
.showLessBtn{
    background-color: black;
    color: white;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: #00000075;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
  /* Modal Content */
.modal-content {
    position: fixed;
    transform: translateY(50%);
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fefefe;
    width: 50rem;
    overflow: hidden;
    border-radius: .5rem;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #ffffff;
    color: #000000;
}

.modal-body {
    text-align: center;
    padding: 1rem 0;
    background-color: #bbbbbb;
}
.languages{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.mapBtn{
    padding: .5rem 2rem;
    color: #fff;
    background-color: #4aabdf;
    border-radius: .5rem;
    margin: 1rem 0;
}

.close {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #4aabdf;
    text-decoration: none;
    cursor: pointer;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50%; opacity: 1; transform: translateY(50%);}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

footer{
    height: 50vh;
}